body {
  background: #121829 url('../../assets/Background.png');
  background-size: cover;
  font-family: 'Poppins';
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.sticky {
  position: sticky;
}

.z-header {
  z-index: 100;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
}

.head {
  height: 80px;
  background: rgba(18, 24, 41, 0.8);
  backdrop-filter: blur(40px);
  padding: 16px;
  backdrop-filter: blur(40px);
}

.nav-item {
  display: inline-block;
  position: relative;
  margin: 0px 16px;
  color: #A8AEBF;
  font-weight: 600;
  font-size: 16px;
}

.nav-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #A8AEBF;
  transform-origin: bottom right;
  transition: transform 0.75s ease-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.flex {
  display: flex;
}

.content-just-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#logo {
  width: 80px;
  height: auto;
}

.titulo1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -0.02em;
  margin-left: 120px;
  color: #f9c204;
}

.titulo2 {
  margin-left: 120px;
  color: #ebeef5;
}

.input {
  text-decoration: none;
  display: flex;
}

button {
  
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  width: 150px;
  left: calc(50% - 121px/2);
  top: 0%;
  bottom: 0%;
  background: #F9C204;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.file {
   
    padding: 0 16px;
    flex-direction: row;
    align-items: center;
    position: static;
    width: 384px;
    height: 48px;
    margin-left: 120px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #323b54;
    box-sizing: border-box;
    border-radius: 12px;
}

.button {
    background: #f9c204;   
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-left: 8px;
    width: 80px;
    height: 48px;
    border: 2px solid #F9C204;
    border-radius: 12px;
}

.posters {
    margin-left: 120px;  
    margin-top: 100px;
}

.select{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;

    position: absolute;
    width: 368px;
    height: 56px;
    left: 120px;
    top: 472px;

    /* Black/20 */

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(80px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 12px;
}